.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
}

.buttonMove {
  height: 100px;
  width: 100px;
  color: transparent;
}

.buttonMove:active {
  height: 100px;
  width: 100px;
  color: black;
}
